.left-side{
    height: calc(100vh - 62px);
    max-height: calc(100vh - 62);
    padding: 24px 47px 38px 37px;
    width: 38%;
    max-width: 753px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--second-bg-color);
    font-size: calc(12px + 0.5vw);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.left-side h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

.left-side .reference {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.left-side .reference > a{
    font-size: 18px;
    text-align: center;
    color: white;
    text-align: center;
}

.left-side .left-side-definition{
    margin-bottom: 20px;
}

.left-side .left-side-example{
    margin-bottom: 20px;
}

.left-side .left-side-image{
    margin: 20px 10% 20px 10%;
    width: 100%;
    max-height: 331px;
}

.left-side .left-side-image img{
    height: auto;
    max-width: 80%;
}

.left-side .left-side-example-description{
    margin-bottom: 20px;
}

.left-side .left-side-example-description{
    margin-bottom: 20px;
}
