.final-statistics{
    height: calc(100vh - 62px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 0 0;
}

.final-statistics h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;    
}

.final-statistics .total-stars{
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
}

.final-statistics .total-stars img{
    margin-right: 20px;
}

.final-statistics .buttons-container{
    display: flex;
    flex-direction: row;
    gap: 76px;
    padding-bottom: 50px;
}