@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.alertContainer{
    display: none;
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.alertDiv{
    width: 45%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    font-family:Quicksand;
}

.alertDiv > div {
    height: 25px;
    width: 25px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertDiv > div > p {
    font-weight: bold;
    color: black;
    text-align: flex-end;
    margin: 0;
    font-size: 20px;
    width: fit-content;
    transition: .3s;
}

.alertDiv > div:hover{
    transform: scale(1.1);
    border: solid 2px black;
    transition: .3s;
}

.alertDiv > div:hover > p{
    transform: scale(1.1);
    color: black;
    transition: .3s;
}

.alertDiv > p{
    margin-left: 30px;
    align-self: center;
    color: black; 
    font-size: 20px;
    font-weight: bold;
}

.success {
    background-color: #a8f0c6;
    border-left: 5px solid #178344;
}

.success > div {
    border: solid 2px #178344;
}

.success > div > p{
    color: #178344;
}

.warning {
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c;
}

.warning > div {
    border: solid 2px #8f130c;
}

.warning > div > p{
    color: #8f130c;
}