main {
    display: flex;
}

main>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

main>div button {
    height: fit-content;
    margin: 20px 10px;
}

drop-zone {
    border: solid 2px black;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.drag-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(12px + 0.5vw);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.drop-box {
    width: 180px;
    height: 40px;
    border: dotted 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-box .drag-item {
    width: 98%;
}

.drop-zone-0 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    padding: 20px 0;
    border: solid 2px white;
}

.drop-zone-0 .drag-item {
    margin: 5px 5%;
    flex-basis: 40%;
}