.login{
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-title{
margin-bottom: 20px;
}

.login-title h1{
    font-size: 40px;
    color: white;
}

.login-buttons{
    display: flex;
    flex-direction: column;
}

.login-buttons button{
    margin-bottom: 20px;
}
